/* Write your custom CSS here */
html {
  scroll-behavior: smooth;
}

/*login*/
.tac{
	text-align: center;
}
.tal{
	text-align: left;
}
.tar{
	text-align: right;
}
.taj{
	text-align: justify;
}

.imglogo{
	width: 100%;
    height: 100px;
    margin: 40px 0;
}

.login-page-bg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    background: rgba(242,242,242,1);
	background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 28%, rgba(242,242,242,1) 43%, rgba(7,97,175,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(28%, rgba(255,255,255,1)), color-stop(43%, rgba(242,242,242,1)), color-stop(100%, rgba(7,97,175,1)));
	background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 28%, rgba(242,242,242,1) 43%, rgba(7,97,175,1) 100%);
	background: -o-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 28%, rgba(242,242,242,1) 43%, rgba(7,97,175,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 28%, rgba(242,242,242,1) 43%, rgba(7,97,175,1) 100%);
	background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 28%, rgba(242,242,242,1) 43%, rgba(7,97,175,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#0761af', GradientType=0 );
}

.logo-float{
	width: 500px;
	height: auto;
	margin-top: 200px;

}

@media (max-width: 575px) and {
	.logo-float {
		display: none;
	}
}

@media (max-width: 767px) {
    .logo-float {
		display: none;
	}
}

.lineonly {
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.mainlogo{
	width: auto;
	height: 45px;
}

.mainlogoicon{
	width: 30px;
	height: auto;
	margin-top: px; 
}

.navbar-default{
	background-color: #f7f9fa !important;
    /*background-color: #ffffff;*/
}

.prof-icon{
	width: 36px;
	height: auto;
}

.bordered{
	border: 1px solid #eeeeee;
}

.fold-title {
	font-size: 18px;
    font-weight: 600;
    color: rgba(0,0,0,.8);
    margin-bottom: 14px;
    margin-top: 30px;
}

.fold-title h4{
    font-size: 22px;
    font-weight: 600;
}
.fold-title2 {
	font-size: 18px;
    font-weight: 300;
    color: rgba(0,0,0,.8);
    margin-bottom: 14px;
    margin-left: 0;
    margin-top: 0;
}

.panel-icon{
	margin-right: 10px;
    font-size: 17px;
    vertical-align: middle;
    line-height: 22px;
}
.panel-icon-info{
    font-size: 14px;
    vertical-align: middle;
    color: #d0d0d0;
    padding: 5px;
    border-left: 1px solid #E6E8EB;
    border-bottom: 1px solid #E6E8EB;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 15px;

}

.panel-icon-add{
    font-size: 14px;
    vertical-align: middle;
    color: #1e3c72;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 7px;
    padding-bottom: 4px;
    border-left: 1px solid #E6E8EB;
    border-bottom: 1px solid #E6E8EB;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 0;
    right: 15px;

}

.clipbutton{
    font-size: 12px;
    padding: 8px 10px;
    border: 1px solid #E6E8EB;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
    color: #0f5ab1;
}

.i-gold{
	color: #f9b602;
    font-size: 20px;
}


/*panel image*/
.panel-img-holder{
	width: auto;
	text-align: center;

}
.rewards-image{
	
	width: 100%;
	height: 160px;
	object-fit: contain; 
}
.panel-label{
	font-size: 12px;
	text-align: center;
	margin-top: 5px;
}

/*profile*/
.samplex{
	background-color: #0074b0;
	width: 100%;
	height: 200px;
}


.details-profile li {
    list-style: none;
    margin-left: 0;
}

.bigprof-icon{
	margin-left: 15px;
	margin-bottom: 6px;
}

.bigprof-icon i{
    width: 40px;
}
.details-profile li i{
    width: 40px;
}

.bigprofile{
	width: 100%;
	height: 200px;
	object-fit: cover;
	border: 1px solid #E5E5E5;
}

.bigprofile2{
	width: 100%;
	max-height: 200px;
	object-fit: contain;
	border: 1px solid #E5E5E5;
}

.box1{
	width: 100%;
	height: 55px;
	text-align: center;
	padding: 10px;
	border: 2px solid #eeeeee;
	margin-bottom: 5px;
    background-color: #ffffff;
}

.box1c{
	width: 100%;
	height: 55px;
	text-align: center;
	padding: 10px;
	border: 2px solid #D7D7D7;
	margin-bottom: 5px;
    background-color: #ffffff;
}

.box-blue-icon{
	width: 100%;
	height: 55px;
	text-align: center;
	padding: 13px;
	border: 2px solid #539df2;
    border-radius: 5px;
	margin-bottom: 5px;
    background: rgb(14,69,133);
    background: linear-gradient(90deg, rgba(14,69,133,1) 0%, rgba(11,104,212,1) 100%);
}

.box1g{
	width: 100%;
	height: 160px;
	text-align: center;
	padding: 10px;
	border: 2px solid #D7D7D7;
	margin-bottom: 5px;
}

.box1labeltitle a{
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	color: #0f5ab1;
}


.box1labeltitle{
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
}



.box1labeltitlec{
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	color: #005FBF;
}

.box1labelsubtitle{
	font-size: 9px;
	text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box1labelsubtitle1{
	font-size: 9px;
	text-transform: uppercase;
    width: 100%;
    border-top: 1px dotted #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
}

.box1labelsubtitle2{
	font-size: 12px;
	text-transform: uppercase;
}

.box1ceo{
	width: 100%;
	height: 60px;
	text-align: center;
	padding: 10px;
	border: 2px solid #D7D7D7;
	margin-bottom: 5px;
    background-color: #ffffff;
}
/*filter*/
.panel-gold{
	background-color: #fffcdf;
    border: 1px solid #d4cf7c;
    
}

.panel-blue{
	background-color: #eef7ff;
    border: 1px solid #4397ec;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    
}

.panel-blue select{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background-color: #eef7ff;
    border-bottom: 1px solid #004284;
    color: #004284
}

.panel-blue input{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background-color: #eef7ff;
    border-bottom: 1px solid #004284;
    color: #004284;
    text-align: left;
}

.panel-blue input::placeholder{
    
    color: #004284;
    text-align: left;
}

.panel-blue .input-group-addon{
    border: 0;
    background-color: #eef7ff;
    color: #004284
}

.panel-blue label{
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #004284;
}

/*leaderboard icon*/

.panel-gray{
	background-color: #eeeeee;
    border-radius: 10px;
}

.panel-icon-info-gray{
    color: #d0d0d0;
    padding: 5px;
    border: 1px solid #E6E8EB;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 15px;
    background-color: #ffffff;
}

.img-h{
	width: 100%;
	height: auto;
	object-fit: cover;
	border: 1px solid #00c7ce;
}

.boxlb{
	width: 100%;
	height: auto;
	background-color: #ffffff;
	border: 1px solid #E5E5E5;
	padding: 15px 20px;
	margin-bottom: 10px;
}



    
.boxlb:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
    
}

.boxlb hr{
	margin: 5px 0 15px 0;
}

.lb-title{
	font-weight: 800;
	text-transform: uppercase;
	font-size: 12px;
	color:  #0181ab;
    /*#005FBF*/
}
.lb-name{
	font-weight: 800;
	font-size: 12px;
	margin-top: 15px;
	width: 100%;
}
.lb-details{
	text-transform: uppercase;
	font-size: 9px;
	margin-top: 10px;
	width: 100%;
	padding-bottom: 5px;
}

.lb-details span{
    display: block;
}


.lb-details2{
	text-transform: uppercase;
	font-size: 9px;
	width: 100%;
}

.lb-icon{
    font-size: 18px;
    vertical-align: middle;
    line-height: 22px;
}



.csales{
    color: #25994e;
}
.cleads{
    color: #c41a4b;
}
.cpoints{
    color: #0f5bb1;
}

.csalesth{
    color: #fff;
    background-color: #25994e;
    font-weight: 600;
}
.cleadsth{
    color: #fff;
    background-color: #c41a4b;
    font-weight: 600;
}
.cpointsth{
    color: #fff;
    background-color: #0f5bb1;
    font-weight: 600;
}



/*table*/

.tblue{
	background-color: #ffffff;
}

.tblue td{
	border-bottom:6px solid #eef7ff;
	vertical-align: middle!important;
}
.tblue th{
	border-bottom:8px solid #eef7ff!important;
	vertical-align: middle!important;
	height: 70px;
}


.twhite{
	background-color: #ffffff;
}

.twhite td{
	border-bottom:6px solid #eeeeee;
	vertical-align: middle!important;
}
.twhite th{
	border-bottom:8px solid #eeeeee!important;
	vertical-align: middle!important;
	height: 70px;
}

.twhite .progress{
	margin-top: 18px;
}

.table-icon-info{
    color: #d0d0d0;
    margin-left: 15px;

}

.table-thumb{
	width: 40px;
	height: 40px;
	object-fit: cover;
}
.table-thumb2{
	width: auto;
	height: 40px;
	object-fit: cover;
}

.table-thumb3{
	width: auto;
	height: 100px;
	object-fit: cover;
}

.table-text-team{
	font-size: 9px;
	color: #005FBF;
    text-transform: uppercase;
    display: block;
}

.table-br{
	border: 1px solid #E5E5E5;
}

.table-br td{
	border: 1px solid #E5E5E5;
	width: 33%;
}

.table-br2{
	border: 1px solid #E5E5E5;
	padding: 5px;
	width: 80%;
	margin-bottom: 5px;
	margin-top: 0px;
}
..table-br2 tr{
	vertical-align: middle;
}

.table-br2 td{
	border: 1px solid #eeeeee;
	width: 33%;
	padding: 5px;
	text-align: center;
}
.star-incomplete{
    color: #b7b7b7;
    font-size: 24px;
    margin-right: 5px;
}
.star-complete{
    color: #d60101;
    font-size: 24px;
    margin-right: 5px;
}
.star-completec{
    color: #d60101;
    /*color: #ff9c00;*/
    font-size: 24px;
}

.white-icon{
    color: #ffffff;
    font-size: 24px;
}

.blue-icon{
    color: #004284;
    font-size: 48px;
    margin-top: 20px;
}

.star-process{
    color: #ffe400;
    font-size: 24px;
    margin-right: 5px;
}

/*personal goals*/

.goal-progress{
    width: 100%;
    height: auto;
    padding-left:20px;
}

.goal-progress2{
    width: 100%;
}

.pg-label{
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
}
.pg-label2{
    margin-top: 0px;
    width: 100%;
    font-size: 12px;
}
.pg-label3{
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}

.sub-pg-label-primary{    
    font-size: 9px;
    padding: 1px 2px;
    border: 1px solid #0f5bb1;

}
.sub-pg-label-primary2{    
    font-size: 10px;
    padding: 1px 2px;

}

.progress-bar-primary{
    /*background-color: #539df2;*/
    background-color: #0f5bb1;
}


.sub-pg-label-success{    
    font-size: 9px;
    padding: 1px 2px;
    border: 1px solid #25994e;
}

.progress-bar-success{
    /*background-color: #3fef9e;*/
    background-color: #25994e;
}

.progress-bar-danger{
    /*background-color: #ec6188;*/
    background-color: #c41a4b;
}

.sub-pg-label-danger{    
    font-size: 9px;
    padding: 1px 2px;
    border: 1px solid #c41a4b;
}

.pg-value{
    margin: 10px 10px;
    font-weight: 600px;
    color: darkblue;
    font-size: 18px;
    width: 100px;
    border-bottom: 1px solid #eeeeee;
}
.goal-progress .progress{
    margin-bottom: 10px;
}

.progress.progress-md {
    height: 18px!important;
    width: 100%;
}

/*notif

.dropdown-menu {
    width:500px;
}

.slimscroll{
    min-height: 500px!important;
}

.dropdown-menu .tabh{
    margin: 5px 20px;
}
*/

/*team modal*/

.team-logo{
    width: auto;
    max-height: 100px;
    
}

.team-members{
    font-size: 14px;
}

.team-members span{
    font-weight: 600;
    color: #0f5ab1;
    font-size: 16px;
    min-width: 30px;
    text-align: center;
    padding: 0 10px;
}

.team-details{
	margin-top: 20px;
	width: 100%;
}

.team-details span{
    font-size: 14px;
    display: block;
}

.team-sales-icon{
    font-size: 24px;
    vertical-align: middle;
    color:#038e00;
}

.team-points-icon{
    font-size: 24px;
    vertical-align: middle;
    color:#c90000;
}

.team-leads-icon{
    font-size: 24px;
    vertical-align: middle;
    color:#D6AA00;
}

.team-table{
	border: 2px solid #E5E5E5;
	padding: 20px 0;
	width: 100%;
	margin-top: 0px;
}
.team-table tr{
	vertical-align: middle;
}

.team-table td{
	border: 2px solid #eeeeee;
	width: 33%;
	padding: 5px;
	text-align: center;
}

/*personal stats*/

.personalstats{
    width: 100%;
    padding: 20px;
}


/*notif*/

.right-tab-container{
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 12px;
}

.notif-item{
    width: 100%;
    display: block;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 5px;
}

.notif-item strong{
    color: #539df2;
    font-weight: 400;
}

.notif-item small{
    text-transform: uppercase;
    font-size: 9px;
    color: #c5c5c5;
    display: block;
}

.right-sidebar-tabs .badge{
    font-size: 9px;
    font-weight: 100px;
    padding: 3px 4px;
}

/*ceo dashboard*/
.databox-gray{
    width: 100%;
    min-height: 200px;
    background-color: rgba(218, 218, 218, 0.3);
    border: 1px solid #dadada;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.databox-green{
    width: 100%;
    min-height: 200px;
    background-color: rgba(107, 190, 136, 0.3);
    border: 1px solid #6bbe88;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.databox-blue{
    width: 100%;
    min-height: 200px;
    background-color: rgba(83, 157, 242, 0.3);
    border: 1px solid #539df2;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.databox-blue2{
    width: 100%;
    min-height: 70px;
    height: auto;
    background-color: rgba(83, 157, 242, 0.3);
    border: 1px solid #539df2;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px 20px 0 20px;
}

.databox-yellow{
    width: 100%;
    min-height: 200px;
    background-color: rgba(255, 222, 112, 0.3);
    border: 1px solid #ffde70;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.databox-pink{
    width: 100%;
    min-height: 200px;
    background-color: rgba(236, 97, 136, 0.3);
    border: 1px solid #ec6188;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.databox-purple{
    width: 100%;
    min-height: 200px;
    background-color: rgba(187, 134, 252, 0.3);
    border: 1px solid #bb86fc;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.databox-green-light{
    width: 100%;
    min-height: 200px;
    background-color: rgba(194, 248, 218, 0.6);
    border: 1px solid #c2f8d4;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.databox-blue-light{
    width: 100%;
    min-height: 200px;
    background-color: rgba(153, 205, 242, 0.6);
    border: 1px solid #99cdf2;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.databox-yellow-light{
    width: 100%;
    min-height: 200px;
    background-color: rgba(255, 239, 179, 0.6);
    border: 1px solid #ffefb3;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.databox-pink-light{
    width: 100%;
    min-height: 200px;
    background-color: rgba(253, 149, 182, 0.6);
    border: 1px solid #fd95b6;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.databox-purple-light{
    width: 100%;
    background-color: rgba(216, 184, 251, 0.6);
    border: 1px solid #d8b8fb;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.databox-main{
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-radius: 10px;
    color: #333333;
    margin-bottom: 20px;
    background-color: rgb(244,244,244,0.5);
    height: 190px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}

.databox-main:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5);
    
}

.databox-main2{
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-radius: 10px;
    color: #333333;
    margin-bottom: 20px;
    background-color: rgb(244,244,244,0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

.databox-main2:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
}

.databox-main2 table{
    width: 100%;
    background-color: #ffffff;
}

.databox-main2 td{
    border:1px dotted #dedede;
    padding: 2px 3px;
    font-size: 12px;
    
}

.databox-main2 th{
    border:1px dotted #dedede;
    padding: 2px 3px;
    font-size: 12px;
    font-weight: 600;
    border-top:1px dotted #dedede!important;
}

.databox-main-white{
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-radius: 10px;
    color: #333333;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

.databox-main-white:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
}

.databox-main-white table{
    width: 100%;
    background-color: #ffffff;
}

.databox-main-white td{
    border:1px dotted #dedede;
    padding: 2px 3px;
    font-size: 12px;
    
}

.databox-main-white th{
    border:1px dotted #dedede;
    padding: 2px 3px;
    font-size: 12px;
    font-weight: 600;
    border-top:1px dotted #dedede!important;
}

.databox-main table{
    width: 100%;
    background-color: #ffffff;
}

.databox-main td{
    border:1px dotted #dedede;
    padding: 3px 5px 2px 5px;
}

.databox-main3{
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-radius: 10px;
    color: #333333;
    margin-bottom: 30px;
    background-color: rgb(244,244,244,0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    height: 330px;
    font-size: 12px;
    
}

.databox-main3:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
    
}

.databox-main3 table{
    width: 100%;
    background-color: #ffffff;
}

.databox-main3 td{
    border:1px dotted #dedede;
    padding: 2px 3px;
    font-size: 12px;
    
}

.databox-main3 th{
    border:1px dotted #dedede;
    padding: 2px 3px;
    font-size: 12px;
    font-weight: 600;
    border-top:1px dotted #dedede!important;
}

.databox-main3 .btn-xs{
    font-size: 11px!important;
    padding: 1px 3px !important;
}

.databox-main4{
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-radius: 10px;
    color: #333333;
    margin-bottom: 30px;
    background-color: rgb(244,244,244,0.5);
    height: 330px;
    font-size: 12px;
    
}


.databox-main4 table{
    width: 100%;
    background-color: #ffffff;
}

.databox-main4 td{
    border:1px dotted #dedede;
    padding: 2px 3px;
    font-size: 12px;
    
}

.databox-main4 th{
    border:1px dotted #dedede;
    padding: 2px 3px;
    font-size: 12px;
    font-weight: 600;
    border-top:1px dotted #dedede!important;
}

.databox-main4 .btn-xs{
    font-size: 11px!important;
    padding: 1px 3px !important;
}

.databox-main5{
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #333333;
    margin-bottom: 20px;
    background-color: rgb(244,244,244,0.5);
    height: 100px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}

.databox-main:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
    
}

.databox-head{
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.v-center{
    padding-top: 20px;
    padding-bottom: 20px;
}
.databox-body{
    width: 100%;
    height: auto;
    padding-top:0px;
}

.databox-footer{
    width: 100%;
}

.databox-footer ul{
    margin: 0;
}

.databox-left{
    border-right: 1px dashed #dedede;
    padding: 0 10px 0 0;
    height: auto;
}

.databox-item{
    font-size: 14px;
    font-weight: 800;
    display: block;
}

.databox-item span{
    font-size: 9px;
    text-transform: uppercase;
    color:#707070;
    font-weight: normal;
    vertical-align: top;
    display: block;
}

.databox-right{
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 800;
    display: table;
    width: 100%;   
}

.databox-right .data-up{
     color: #07900a;
}

.databox-right .data-down{
     color: #da0909;
}

.databox-right .data-same{
     color: #00000;
}

.databox-bottom{
    padding: 5px 5px 0px 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 800;      
}

.progress.progress-xs {
    height: 17px!important;
    margin-bottom: 5px;
}

.box-shadow{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    
}

.box-shadow:hover{
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
    
}

.chart-campaign{
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #333333;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    height: 250px;
    
}

.chart-campaign:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
    
}

.chart-ceo{
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #333333;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    
}

.chart-ceo:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
    
}

.chart-leads{
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #333333;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    height: 330px;
    
}

.chart-leads:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
    
}

.chart-income{
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #333333;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    height: 330px;
    
}

.chart-income canvas{
}

.chart-income:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
    
}

#individualstat{
    height: 330px;
}

.filterbar{
    margin-bottom: 10px;
    margin-top: 10px;
}

.filterbar-text{
    font-size: 14px;   
}

.filterbar-text span{
    font-weight: 800; 
}

.filterbar .btn-success{
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
}



.filterbar select{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background-color: #eef7ff;
    border-bottom: 1px solid #004284;
    color: #004284
}

.filterbar input{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #004284;
    color: #004284;
    text-align: left;
    border-radius: 0!important;
    padding: 0;
    height: 20px;
    font-size: 12px;
    text-align: center;
}

.filterbar input::placeholder{
    
    color: #004284;
    text-align: left;
    border-radius: 0;
    padding: 0;
    text-align: center;
}

.filterbar .input-group-addon{
    border: 0;
    color: #004284;
    border-radius: 0;
    background-color: #fff;
    font-size: 12px;
}

.filterbar label{
    font-size: 9px;
    margin-bottom: 0px;
    color: #004284;
}

.spill{
    border-radius: 16px;
    position: relative;
    margin: 0 2px;
}

.sclose {
    cursor: pointer;
    position: absolute;
    top: 4;
    right: 2;
    padding: 0 2px;
    transform: translate(0%, -50%);
    color: #0053b2;
    font-size: 8px;
    text-transform:none;
    background-color: #fff;
    border-radius: 100%;
}

.mb10{
    margin-bottom: 10px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}

.pb10{
    padding-bottom: 10px;
}

.cw{
    color: #fff!important;
}

.img-Wrapper {
	width: 100%;
    height: 150px;
    border: 2px solid #efefef;
    overflow: hidden;
    
}

.img-Wrapper img{
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    /*border: 10px solid #efefef;*/
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% ;
	height: 100% ;
    border-radius: 10px;
}

/*Training Center*/
/*video thumb*/
.videoThumb{
    margin-bottom: 10px;
}

.img-vh img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.img-vh{
    max-width: 180px;
    height: 100px;
    float: left;
    margin-bottom: 5px;
    overflow: hidden;
    margin-right: 20px;
}
.videoThumb .description{
    width: auto;
    height: auto;
    float: left;
}

.videoThumb .ctitle{
    font-size: 14px;
    font-weight: 600;
    color: #3d464c;
}
.videoThumb ul{
    margin:0;
    padding: 0;
}

.videoThumb li{
    list-style: none;
    margin-left: 0;
    margin-bottom: 2px;
    font-size: 11px;
    padding: 0;
    color: #808080;
}

.videoThumb .fa{
    font-size: 14px;
    margin-right: 3px;
}
.panel{
    border-radius: 10px;
}
.panel-height{
    width: auto;
    height: auto;
    max-height: 520px;
    overflow-y: scroll;
}

.panel-height2{
    width: auto;
    height: auto;
    max-height: 475px;
    overflow-y: scroll;
    border-radius: 10px;
    border: 2px solid #efefef;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.y-scroll::-webkit-scrollbar-track
{
	
}

.y-scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #ffffff;
    
}

.y-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #c1c1c1;
}

.timefinish{
	font-size: 14px;
	color: #005FBF;
    text-transform: uppercase;
    display: block;
    margin: 5px 0;
}

.fixed-height{
    width: 100%;
    height: 200px;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.fixed-height2{
    width: 100%;
    height: 220px;
    overflow-y: scroll;
    
}

/* slider */

.sliderwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-image: url(/assets/images/swipebg.jpg);
    margin: 0;
    padding: 0;
}

.card{
    position: relative;
    background: #fff;
    width: 865px;
    height: 500px;
    margin: 0 auto;
}

.card .contents1{
    width: 865px;
    padding: 0;
    box-sizing: border-box
}

.card .contents1 a{
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: 40px;
    z-index: 1;
}

.card .sliderText{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    
}

.card .sliderText h3{
    color: #fff;
    font-size: 3em;
}

.swiper-slide{
    width: 800px!important;
}

.swiper-slide:nth-child(1) .sliderText{
    background: #2196f3!important;
}

.swiper-slide:nth-child(2) .sliderText{
    background: #e91e63!important;
}

.swiper-slide:nth-child(3) .sliderText{
    background: #c3d41a!important;
}

.swiper-slide:nth-child(4) .sliderText{
    background: #ff9800!important;
}

.swiper-slide:nth-child(5) .sliderText{
    background: #c33ada!important;
}

.coloredbox{
    width: 100%;
    height: 125px;
    margin-bottom: 30px;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

.coloredbox:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
    
}

.coloredbox .data-title{
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 600;
}

.coloredbox .data-body{
    font-size: 40px;
    font-weight: 600;
    width: 100%;
    border: 1px dotted #dedede;
    margin: 0;
    padding: 0px 10px;
    text-align: center;
    color: #333333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(244,244,244,0.8);
    border-radius: 10px;
}

.coloredbox2{
    width: 100%;
    height: 125px;
    margin-bottom: 10px;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

.coloredbox2 .data-title{
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 600;
}

.coloredbox2 .data-body{
    font-size: 40px;
    font-weight: 600;
    width: 100%;
    border: 1px dotted #dedede;
    margin: 0;
    padding: 0px 10px;
    text-align: center;
    color: #333333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(244,244,244,0.8);
    border-radius: 10px;
}

.coloredbox3 .data-body{
    font-size: 100px;
    font-weight: 600;
    width: 100%;
    border: 1px dotted #dedede;
    margin: 0;
    padding: 0px 10px;
    text-align: center;
    color: #ffa401;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.coloredbox3 .data-body a{
    color: #ffa401;
}

.coloredbox3 .data-title{
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 600;
}


.bgpink{
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    color: #ffffff!important;
}

.bgblue{
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    color: #ffffff!important;
}

.bgviolet{
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    color: #ffffff!important;
}

.bggreen{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.bglightyellow{
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

.bgbluegreen{
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
    color: #ffffff!important;
}

.bgsimple{
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #ffffff;
}


.coloredboxbig{
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    margin-bottom: 30px;
    border: 1px solid #dedede;
    padding: 20px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #333333;
    background-color: rgb(244,244,244,0.5);
    
    font-size: 12px;
}

.coloredboxbig:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
    
}

.coloredboxbig .data-title{
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

.coloredboxbig .data-body{
    font-size: 60px;
    font-weight: 600;
    width: 100%;
    border: 1px dotted #dedede;
    margin: 0;
    padding: 0px 10px;
    text-align: center;
    color: #333333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}



.data-two-table td{
    border: 1px dotted #dedede!important;
    background-color: #ffffff;
    padding: 3px;
}

.data-two-table{
    margin-top: 10px
        
}

.data-body-label{
    text-align: center;
    font-size: 12px;
    color: #333333;
}

.data-body-sub{
    text-align: center;
    font-size: 24px;
    color: #333333;
    font-weight: 600;
}

.smsinput{
    height: 200px;
    width: 100%;
    padding: 10px 10px;
}

.input-sms label{
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0!important;
    margin-top: 0!important;
}

.input-sms input{
    font-size: 12px;
    padding-top: 0!important;
    padding-bottom: 0!important;
    padding-left: 5px!important;
    padding-right: 2px!important;
    border-top: 0!important;
    border-right: 0!important;
    border-left: 0!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.modalbox{
    width: 100%;
    height: 125px;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

.modalbox:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
    
}

.modalbox .data-title{
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 600;
}

.modalbox .data-body{
    font-size: 40px;
    font-weight: 600;
    width: 100%;
    border: 1px dotted #dedede;
    margin: 0;
    padding: 0px 10px;
    text-align: center;
    color: #333333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(244,244,244,0.8);
    border-radius: 10px;
}

/*btn*/

.bigbutton{
    margin-bottom: 10px;
}

.bigbutton .btn-label {
    position: relative;
    left: -16px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}
.bigbutton .btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}
.bigbutton .btn { 
    margin-bottom:10px; 
}

.bigbutton .btn-default{
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #fff;
    border-color: #537895;
}

.databox-main2 .ptitle{
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    margin-top: 10px;
    font-size: 16px;
}

/*marketing facts*/

.top-icons{
    padding: 10px 10px 0 10px;
    
}

.top-icons i{
    color: #fff!important;
}

.circle-icon {
    background: #1169c1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    color: #fff;
    font-size: 32px;
}

.top-label-left{
    width: 90px;
    margin-bottom: 10px;
    float: left;
    
}

.top-label-right{
    margin-bottom: 10px;
    font-size: 18px;
    float: left;
    padding: 10px 0;
}


.top-label-text{
    font-size: 12px;
    color: #1169c1;
}

.top-label-right span{
    font-size: 16px;
    font-weight: 600;
    color: #1169c1;
}

.salescanvass{
    padding: 30px;
}

/*form-template*/


.form-template input{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background-color: transparent;
    border-bottom: 1px solid #004284;
    color: #004284;
    text-align: left;
    font-style: normal;
    margin-bottom: 5px;
}

.form-template.input-group, .form-template .input-group-addon{
    border: 0!important;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin: 0 10px;
}

.form-template.input-group, .form-template .input-group-addon{
    width: 100%;
}

.form-template label{
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #004284;
}

.form-template label h5{
    font-size: 14px;
    text-transform: none;
    margin-bottom: 0px;
    color: #222222;
}

.plain-label{
    font-size: 14px;
}


/*contact view*/

.cv-text-format{
    font-size: 14px;
    color: #2b2b2b;
}

.cv-label{
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #004284;
    display: block;
}

.cv-text-holder{
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #eeeeee;
    min-height: 30px;
}

.cv-text-format h4{
    display: block;
}

.cv-mb15{
    margin-bottom: 10px;
}

.cv-title{
    width: 100%;
    display:grid;
    margin-bottom: 15px;
}

.data-mainbox3 .btn-danger,
.data-mainbox3 .btn-danger.active,
.data-mainbox3 .btn-danger:active,{
    background-color: #000000!important;
}


.form-temp select{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background-color: transparent;
    border-bottom: 1px solid #c1c7cd;
    color: #004284;
    margin-bottom: 5px;
}

.form-template select{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background-color: transparent;
    border-bottom: 1px solid #004284;
    color: #004284;
    margin-bottom: 5px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}


.form-temp input{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background-color: transparent;
    border-bottom: 1px solid #c1c7cd;
    color: #004284;
    text-align: center;
    margin-bottom: 5px;
    min-height: 32px;
    width: 100%;
}

.form-temp input::placeholder{
    
    color: #004284;
    text-align: center;
}

.mbt30{
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}

.mbt40{
    margin: 40px 0;
}

.mb20{
    margin-bottom: 20px;
}

.mb10{
    margin-bottom: 10px;
}

.mb5{
    margin-bottom: 5px;
}

.q {
  quotes: "“" "”";
    
}

.q:before {
    content: open-quote;
    font-size: 24px;
    display: inline;
    line-height: 14px;
}

.q:after {
    content: close-quote;
    font-size: 24px;
     display: inline;
    line-height: 14px;
}

.fs12{
    font-size: 12px;
}
.fs14{
    font-size: 14px;
}
.fs16{
    font-size: 16px;
}
.fs18{
    font-size: 18px;
}

.fs20{
    font-size: 20px;
}

.fs24{
    font-size: 24px;
}

.fs26{
    font-size: 26px;
}

.fs28{
    font-size: 28px;
}

.fs32{
    font-size: 32px;
}

.fs34{
    font-size: 34px;
}

.fs48{
    font-size: 48px;
}


.emailbiglabel{
    font-size: 18px;
    font-weight: 400;
    color: #004284;
}

.emailbigicon{
    font-size: 54px;
    font-weight: 400;
    color: #004284;
}

.menu-divider2 {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eee;
    margin: 10px 0;
}

.allcaps-solid{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
}

.maillist-box{
    width: 100%;
    height: 300px;
    padding: 20px 10px;
    margin: 10px 0;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    overflow-y: scroll;
}

.maillist-box2{
    width: 100%;
    height: 310px;
    margin: 10px 0;
    background-color: #ffffff;
    border: 0;;
    overflow-y: scroll;
}


.panel-footer{
    background-color: #ffffff;
    padding-top: 10px;
    margin: 0;
    border-top 0!important;
    padding-bottom: 0;
    
}

.maillist-box ul{
    list-style: none;
}

/*switch toggle*/
/*color
class="label-default
class="label-primary
class="label-success
class="label-danger
class="label-warning
class="label-info
*/

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/*end switch toggle*/



.boxlc{
	width: 100%;
	height: auto;
	background-color: #ffffff;
	border: 1px solid #E5E5E5;
	padding: 10px 15px;
	margin-bottom: 10px;
}

.boxlc .img-handler{
    width: 100%;
    height: 180px;
    object-fit: contain;
    align-content: center;
}

    
.boxlc:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;
    
}

.boxlc-label{
    width: 100;
    height: auto;
    margin: 5px 0;
    text-align: center;
    display: block;
}

.control-label{
    text-align: left
}

.mailconfirm .fa-times{
    color: #c31949;
    font-size: 32px;
}

.mailconfirm .fa-check{
    color: #0f5ab1;
    font-size: 32px;
}

.mailconfirm .fa-exclamation{
    color: #c31949;
    font-size: 32px;
}

.mailconfirm .roundnumber{
    color: #ffffff;
    font-size: 16px;
    border-radius: 50%;
    padding: 10px 16px;
    background-color: #2e6da4;
}

.mailconfirm td{
    padding: 10xp 5px;
}

.w95{
    width: 95%;
}

.star-complete2{
    color: #d60101;
    /*color: #ff9c00;*/
}

.star-incomplete2{
    color: #d7d7d7;
}





/*preloader*/

.loader {
  color: #000000;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.p-20{
    padding: 12px 15px 0 0;
    font-weight: 400px;
    text-transform: uppercase;
}

.form-control-search input{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background-color: transparent;
    border-bottom: 1px solid #004284;
    color: #004284;
    text-align: left;
    font-style: normal;
    width: 200px;
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 13px;
}

.form-control-search input::placeholder{
    font-size: 13px;
}

.fa-sticky-note{
    color: #FFFF99;
}

#cert .fa-certificate{
    color: #ffa401!important;
}
.no-dot ul{
    margin-left: 0;
    padding-left: 20px;
}
.no-dot li{
    list-style: none;
    margin-left: 0;
    margin-bottom: 2px;
}

.no-dot li span{
    font-weight: 600 !important;
}

.italic{
    font-style: italic;
}

.bggray{
    background-color: #d1d1d1 !important;
    cursor: none;
}

.bggray a:hover{
    background-color: #d1d1d1 !important;
    cursor: none!important;
}

.alert-primary{
    padding: 10px 20px;
    color: #337ab7;
    background-color: #fff;
    border-color: #2e6da4;
}


.oldpanel .panel-default {
    border-color: #ddd;
}

.oldpanel .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;/*
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
    padding: 0;
}

.oldpanel .panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}



.oldpanel .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 16px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    cursor: pointer;
}

.oldpanel .panel-body {
    padding: 15px!important;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.input-group-btn .btn-danger {
    border-radius: 5px!important;
    border: 1px solid #ec6188;
    color: #ec6188;
    background-color: #fff!important;
}

.fa-check-circle{
    font-size: 24px;
    color: #248003;
}

.fa-play-circle-o{
    font-size: 28px;
    color: #0758bb;
}

.fa-circle{
    font-size: 24px;
    color: #7a7a7a;
    
}

.training-time{
    font-weight: 600;
    padding-top: 0;
}

.training-time2{
    font-weight: 600;
    font-size: 16px;
}


.newslogo {
	width: 100%;
    height: auto;
    border: 1px solid #efefef;
    overflow: hidden;
    padding: 10px;
    
}

.newslgo img{
    object-fit:contain;
    height: auto;
    width: 100%;
}

.databox-main-news-admin{
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-radius: 10px;
    color: #333333;
    margin-bottom: 20px;
    background-color: rgb(244,244,244,0.5);
    height: 240px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.databox-main-news-admin .databox-body{
    height: 150px;
    width: 100%;
}

.databox-main-news-admin:hover{
    border: 1px solid #83b5e2;
    box-shadow: 0 3px 8px rgba(57, 183, 205, 0.5)!important;

}

.databox-main-news-admin table{
    width: 100%;
    background-color: #ffffff;
}

.databox-main-news-admin td{
    border:1px dotted #dedede;
    padding: 3px 5px 2px 5px;
}
.img-gallery {
    width: 100%;
    height: 145px;
    border: 2px solid #efefef;
    overflow: hidden;
    position: relative;
}

.img-gallery img{
    object-fit: contain;
    height: 145px;
    width: 100%;
}

.pt10{
    padding-top: 10px;
}

.pt5{
    padding-top: 5px;
}




.invoicestyle.invoice-title h2, .invoicestyle.invoice-title h3 {
    display: inline-block;
}

.invoicestyle.table > tbody > tr > .no-line {
    border-top: none;
}

.invoicestyle.table > thead > tr > .no-line {
    border-bottom: none;
}

.invoicestyle.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.modal-content{
  border-radius: 10px!important;  
}

.sidebar-menu-icon{
    margin-top: 20px;
    margin-left: 40px;
}
.sidebar-menu-icon a{
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 16px;
}

.page-sidebar-collapsed .sidebar-menu-icon{
    margin-top: 20px;
    margin-left: 25px;
}

/*chat box*/


.chatbox-holder{
    width: 350px;
    height: auto;
    position: absolute;
    bottom: 60px;
    right: 30px;
}

.chatbox-header{
    width: 350px;
    height: 100px;
    background-color: #003b80;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.input-position{
    padding: 30px 28px 30px 18px;
}
.chatbox-body{
    width: 350px;
    height: 300px;
    padding: 20px;
    border-right: 1px solid #003b80;
    border-left: 1px solid #003b80;
    overflow-y: scroll;   
    background-color: #eaeaea;
}

.chatbox-body .panel{
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
}

.chatbox-body .panel-header{
    padding: 10px 20px;
}
.chatbox-body .panel-default{
    padding: 0;
}


.chatbox-body .panel-body{
    border-top: 1px solid #eaeaea;
    padding: 20px!important;
}

.chatbox-body .panel-body a{
    text-decoration: none;
    color: #003b80;
}

.chatbox-footer{
    width: 350px;
    height: auto;
    background-color: #ffffff;
    border-left: 1px solid #003b80;
    border-right: 1px solid #003b80;
    border-bottom: 1px solid #003b80;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button-position{
    padding: 20px;
}

.chat-button{
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.chatbox-holder input[type=search]{
    border-radius: 4px!important;
    height: 30px;
    margin: 5px;
}